@import url(//fonts.googleapis.com/css?family=Indie+Flower);
@import url(//fonts.googleapis.com/css?family=Luckiest+Guy);
/*@import url(//fonts.googleapis.com/css?family=Comfortaa);*/
/*@import url(//fonts.googleapis.com/css?family=Lato:400,700);*/

body {
	background-color: rgba(73, 73, 73, 0.1);
}

#welcome-section {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0px 0px 20px 0px;
}

#welcome-title {
	text-align: center;
	font-size: 3vw;
	font-family: "Indie Flower", "Arial Black";
	font-weight: lighter;
	/*font: normal small-caps 12px/14px fantasy;*/
	margin: 10px;
	padding-top: 50px;
	/*display: inline-block;*/
}

nav {
	/*visibility: hidden;*/
	display: block;
	/*justify-content: space-around;*/
	background-color: rgba(160, 50, 252, 0.52);
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px auto;
	padding: 5px 0px;
	
}

#nav-link-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


.nav-link {
	color: rgb(0, 255, 146);
	text-decoration: none;
	font-family: "Luckiest Guy", Arial;
	list-style: none;
	font-size: 1.3vw;
	margin: 0px 10px 0px 10px;
}

main section{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 40px 0px 40px 0px;
}

.icon {
	/*color: rgb(164, 127, 205);*/
	color: mediumpurple;
	padding: 10px 0px 10px 0px;
}

#about{
	/*color: chocolate;*/
	text-align: justify;
	width: 100%;
	/*margin: 0px 40px 40px 0;*/
	/*padding: 40px 40px 40px 40px;*/
}

.about-list{
	/*color: chocolate;*/
	text-align: center;
	width: 80%;
	/*margin: 0px 40px 40px 0;*/

	list-style-type: none;
}

.about-list li:before {
	font-family: "Font Awesome 5 Free";
	tab-size:2;
	white-space:pre;
	content: "\f058\9"; /* Добавляем в качестве маркера символ */
}


@media (max-width: 800px) {
	.nav-link {
		font-size: 10pt;
	}
	
}


